default_language_version:
  python: python3.11

repos:
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.10.2
  hooks:
    - id: uv-lock
      files: ^pyproject\\.toml$

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.1
  hooks:
    - id: ruff
      args: ["--fix", "--exit-non-zero-on-fix"]
    - id: ruff-format

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
      args: ["--markdown-linebreak-ext=md,mdx"]
    - id: detect-private-key
    - id: mixed-line-ending
      args: ["--fix=lf"]
    - id: check-ast
    - id: check-yaml
    - id: check-toml
    - id: check-json
    - id: debug-statements
    - id: check-merge-conflict
    - id: check-added-large-files
      args: ["--maxkb=500"]
